@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">API Key</span>
    </div>
    <input type="text" 
           class="form-control" 
           aria-label="Small" 
           aria-describedby="inputGroup-sizing-sm" 
           @bind="apiKey" 
           placeholder="Please enter a valid Fixer API Key">
</div>